*
  margin: 0
  padding: 0
a
  text-decoration: none
  color: black
  &:hover,&:active,&:visited
    color: black

.navbar
  margin-bottom: 16px
  height: 64px
  background-color: #ccc
  display: flex
  justify-content: space-between
  align-items: center
  &-brand
    font-size: 32px
    margin-left: 32px
.cart
  position: relative
  &__btn
    margin-right: 64px
    height: 40px
    width: 150px
    cursor: pointer
  &__drop
    position: absolute
    z-index: 3
    right: 32px
    width: 350px
    visibility: hidden
    border: 1px solid #000
    border-radius: 10px
    padding: 8px
    background-color: #fff
  &__item-list
    list-style-type: none
  &__item
    display: flex
    flex-flow: row nowrap
    justify-content: space-between
    align-items: center
    height: 64px
    width: 100%
    padding: 2px 0
    border-bottom: 1px solid #cccccc
    &-img, &-title, &-price, &-delbtn, &-quantity
      padding: 0 8px
    &-title, &-price
      width: 80px
    &-quantity
      width: 20px
    &-delbtn
      cursor: pointer
      &:hover
        color: #f16d7f
  &__total-price
    text-align: right
    padding: 8px 16px

.products
  display: flex
  flex-flow: row wrap
  justify-content: space-around

.product-item
  display: flex
  flex-flow: column nowrap
  justify-content: space-between
  align-items: center
  width: 200px
  height: 250px
  border: 1px solid #ccc
  border-bottom-left-radius: 10px
  border-bottom-right-radius: 10px
  padding-bottom: 8px
  margin: 8px 8px
.desc
  display: flex
  flex-flow: column nowrap
  align-items: center
.product-item:hover
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.16)

.buy-btn
  font-size: 12px
  line-height: 36px
  text-align: center
  margin: 0 calc(50% - 80px)
  height: 38px
  padding-right: 12px
  padding-left: 19px
  color: #fff !important
  display: inline-block
  background-color: #f16d7f
  border-radius: 4px
  cursor: pointer

.buy-btn:focus
  outline: none
.btn-cart__drop
